# Hello there 👋

```javascript
const roveroniandrea = {
  favoriteLanguage: 'Javascript',
  frontend: ['js', 'ts', 'Angular'],
  backend: ['NodeJs', 'Express', 'Firebase'],
  languages: ['Javascript', 'Typescript', 'c', 'SQL'],
  tools: ['VS Code', 'Unity Engine', 'Github', 'Bitbucket'],
  experimentedWith: ['Electron', 'c++', 'Ngrx', 'Neural Networks', 'Microsoft Q#', 'F#', 'Markdown'],
  other: ['Arduino', 'Scratch', 'StackOverflow'],
  loves: 'Star Wars',
  isStudent: true,
  dontLike: 'Bugs' // FIXME: not working
};
```

# Hangman game
You can play the hangman game on this readme!
<!--GAME-->
{{#lost}}## You lost!
[New game]({{newGame}})
{{/lost}}

## The word to guess{{#lost}} was{{/lost}}:
```
{{secretWord}}
```
## Tries remaining: {{triesRemaining}}

{{^lost}}
{{#keyboard}}
{{#.}}| [{{letter}}]({{url}}) {{/.}}|


{{/keyboard}}
{{/lost}}
| Letters called |
| -----------    |
{{#lettersCalled}}
|       {{.}}        |
{{/lettersCalled}}
{{{data}}}