# Hello there 👋

```javascript
const roveroniandrea = {
  favoriteLanguage: 'Typescript',
  frontend: ['Angular', 'React'],
  backend: ['NodeJs', 'Express', 'Firebase'],
  tools: ['VS Code', 'Unity Engine', 'Github', 'StackOverflow'],
  loves: 'Star Wars',
  isStudent: true,
  doesntLike: 'Bugs' // FIXME: not working
};
```

![roveroniandrea](https://github-readme-stats.vercel.app/api?username=roveroniandrea&show_icons=true&theme=gotham)
![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=roveroniandrea&layout=compact&theme=gotham)

# Hangman game
You can play the hangman game on this readme!
<!--GAME-->
{{#lost}}## You lost!
[New game]({{newGame}})
{{/lost}}
{{#won}}## You won!
[New game]({{newGame}})
{{/won}}

## The word to guess{{#lost}} was{{/lost}}{{#won}} was{{/won}}:
```
{{secretWord}}
```
## Tries remaining: {{triesRemaining}}

{{^won}}
{{^lost}}
{{#keyboard}}
{{#.}}| [{{letter}}]({{url}}) {{/.}}|


{{/keyboard}}
{{/lost}}
{{/won}}
| Letters called |
| -----------    |
{{#lettersCalled}}
|       {{.}}        |
{{/lettersCalled}}
{{{data}}}
